<h2>Berlin - the city of sin and Ember JS</h2>

<p>
Berlin has a significant history and you'll find many landmarks which reflect this. Berlin was badly damaged in the Second World War, but later many edifices and constructions were restored. It is incredibly hard not to admire the stunning architect in Berlin. The Cathedral of Berlin is the biggest church inside the city, and it serves as an important center for the Protestant church of Germany. Its official name is Oberpfarr- und Domkirche zu Berlin. Once it had been the official cathedral of the Prussian Hohenzollern royal family. It was rebuilt in 1816-1822 adhering to a design by the Berlin designer Karl Friedrich Schinkel.
</p>

<p>
The Alte Nationalgalerie on Museum Island in Berlin it is a national gallery showcasing a wide range of top quality nineteenth century art including sculptures and paintings. Alte Nationalgalerie has been around since in 1861, when banker J.H.W. Wagenerleft his art collection to the king to inherit. A brand new building had been designed by Friedrich August Stler to place it with an architectural design style that includes late Classicism and early Neorenaissance. The Brandenburg Gate in German it is referred to as the Brandenburg Gate and is a monument situated adjacent to the edge between East and West Berlin.
</p>

<p>
The Brandenburg Gate it is a monumental gate integrated the eighteenth century as a symbol of peace. The wall separating East plus West Berlin, constructed by the East Germans in 1961, wasn't opened for free access in both directions until 1989. Since the fall of the Berlin Wall, the Brandenburg Gate became the symbol of the reunified Berlin. The Altes Museum was finished in 1830 and is an essential representation in the structure of Classicism. Designed from Karl Friedrich Schinkel, the building includes the Greek Stoa in Athens as a model. Originally constructed to show most of Berlin artwork selections, the Altes Museum has accommodated the Collection of Classical Antiquities since 1904.
</p>

<p>
Between 1943 plus 1945 fire severely damaged the building. <a href="/ember/test/">Reconstruction work commenced and was finished in 1966</a>. Since 1998 the Collection of Classical Antiquities has displayed its Greek selection on the ground floor of the Altes Museum. The Victory Column is among the most famous monuments in Berlin. Work commenced from Heinrich Strack in 1864 to mark the Prussian victory in the Danish Prussian war. By the time it was opened on 2 Sept 1873 Prussia had likewise defeated Austria in the Austro Prussian War plus France in the Franco Prussian War, giving the statue a brand new status.
</p>

{{outlet}}
